body{
    background-color: wheat;
}
table{
    background-color:blueviolet;
    color:burlywood;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h2,h3,h4{
    color: rgb(223, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    border: double brown;
}
h1{
    color: rgb(132, 74, 185);
    border: dotted red;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: wavy;
}
h4.Grass,dl.Grass{
    color: rgb(9, 161, 9);
}
h4.Fire,dl.Fire{
    color: red;
}
/* Another Example */
.Water{
    color: rgb(65, 65, 158);
}